img {
  max-width: 100%;
}
/*.container  {
margin-left: 7%;
margin-right: 7%;
}*/
.jumbotron  {
  text-align: center;
  background-color: #C8252C;
  color: white;
}
.jumbotron h1 {
  font-weight: bold;
}
label {
  font-size: 150%;
}
body  {
  font-family: sans-serif;
}
#athens{
  display: none;
}
#hongkong  {
  display: none;
}
#belize {
  display: none;
}
#newzealand {
  display: none;
}
#india  {
  display: none;
}
#tahoe  {
  display: none;
}
#portland {
  display: none;
}
#newyork  {
  display: none;
}
#asheville  {
  display: none;
}
#neworleans {
  display: none;
}
.results p {
  font-size: 170%;
  text-align: center;
}
.results h1 {
  text-align: center;
  font-weight: bold;
}
